label {
  font-weight: bold;
}

body {
  font-family: arial;
  font-size: 24px;
}

th {
  cursor: pointer;
}

td, th {
  text-align: center;
}

td {
  width: 250px;
}

.fired-true {
  color: grey;
  text-decoration: line-through;
  background-color: #ccc;
}

.filter {
  line-height: 1;
  margin: 1em;
  width: 300px;
  box-shadow: 0px 0px 8px 4px skyblue;
  font-size: 1em;
}

.row {
  width: 20%;
  min-width: 200px;
  margin: 10px;
  padding: 10px;
}

li.page-number {
  display: inline;
  padding: 10px;
  cursor: pointer;
}

ul.pager {
  display: inline;
  padding: 0;
}

.page-1 .page-number-1,
.page-2 .page-number-2,
.page-3 .page-number-3,
.page-4 .page-number-4,
.page-5 .page-number-5,
.page-6 .page-number-6,
.page-7 .page-number-7,
.page-8 .page-number-8,
.page-9 .page-number-9,
.page-10 .page-number-10,
.page-11 .page-number-11,
.page-12 .page-number-12
 {
  font-weight: bold;
  text-decoration: underline;
}
