label {
  font-weight: bold;
}

body {
  font-family: arial;
  font-size: 24px;
}

th {
  cursor: pointer;
}

td, th {
  text-align: center;
}

td {
  width: 250px;
}

.fired-true {
  color: grey;
  text-decoration: line-through;
  background-color: #ccc;
}

.row {
  width: 20%;
  min-width: 200px;
  margin: 10px;
  padding: 10px;
}
