<!DOCTYPE html>
<html>
<head>
  <title>Angular Demo</title>
  <script type="text/javascript" src="/js/angular.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css"></head>
<body ng-app="MyDemoApp">

  <div ng-controller="athleteSearch">
    <table border="1">
      <tr>
        <th ng-click="sort('id')">ID</th>
        <th ng-click="sort('longName')">First Name</th>
        <th ng-click="sort('lastName')">Last Name</th>
      </tr>
      <tr ng-repeat="name in names | orderBy:order" class="row row-{{name.id}}">

        <td width="50px">
          <span>{{name.id}}</span>
        </td>
        <td width="250px">
          <span ng-if="!short">{{name.longName}}</span>
          <span ng-if="short">{{name.shortName}}</span>
        </td>
        <td width="250px">
          <span>{{name.lastName}}</span>
        </td>
      </tr>
    </div>
</table>
</body>
</html>
