<!DOCTYPE html>
<html>
<head>
  <title>Angular Demo</title>
  <script type="text/javascript" src="/js/angular.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css"></head>

<body ng-app="MyDemoApp">

  <div ng-controller="athleteSearch">
    <label>filter</label>
    <input ng-model="searchText" type="filter" name="filter" class="filter">
    <table border="1">
      <tr>
        <th ng-click="sort('id')">ID</th>
        <th ng-click="sort('longName')">First Name</th>
        <th ng-click="sort('lastName')">Last Name</th>
        <th ng-click="sort(['!votes', '-votes'])">Votes</th>
        <th>Vote For Me</th>
        <th>Fire</th>
      </tr>
      <tr ng-repeat="(i, name) in names | orderBy:order | filter:searchText | limitTo:quantity" class="row row-{{name.id}} fired-{{name.fired}}">

        <td>
          <span>{{name.id}}</span>
        </td>
        <td>
          <span ng-if="!short">{{name.longName}}</span>
          <span ng-if="short">{{name.shortName}}</span>
        </td>
        <td>
          <span>{{name.lastName}}</span>
        </td>
        <td>
          <span>{{name.votes}}</span>
        </td>
        <td>
          <input ng-if="!name.fired" ng-click="vote(name.id)" type="submit" name="Vote" value="vote">
        </td>
        <td>
          <input ng-if="!name.fired" ng-click="fire(name.id)" type="submit" name="Fire" value="fire">
        </td>
      </tr>
    </div>
</table>
<input ng-click="loadMore()" value="load more" name="load more" type="submit">
</body>
</html>
