<!DOCTYPE html>
<html>
<head>
  <title>Angular Demo</title>
  <script type="text/javascript" src="/js/angular.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body ng-app="MyDemoApp">

<div ng-controller="athleteSearch">
  <div ng-repeat="(id, name) in names">
    <div class="row row-{{id}}">
      <div>
        
        <div>
          <label>ID:</label>
          <span>{{id}}</span>
        </div>

        <label>First name:</label>
        <span ng-if="!short">{{name.longName}}</span>
        <span ng-if="short">{{name.shortName}}</span>
      </div>
      <div>
        <label>Last name:</label>
        <span>{{name.lastName}}</span>
      </div>
    </div>
  </div>
</div>
</body>
</html>
